body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.header{
    padding: 0 15px ;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.header-logo{
    text-decoration: none;

}

.header__nav{
    display: flex;
    gap: 40px;
      
}

.header__nav-link{
    color: rgba(18, 16, 12, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    text-decoration: none;
}

.header-btn{
    width: 80px;
    height: 32px;
    border-radius: 12px;
    background: #12100C;
    color: #F9F9F9;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width:750px) {
    .header__nav{
        display: none;
    }
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.hero-title{
    margin: 0;
    color: #12100C;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
}

.hero-pretitle{
    margin: 0; 
    padding: 20px 0 0 0;
    color: rgba(18, 16, 12, 0.70);
    font-size: 23px;   
    font-style: normal;
    font-weight: 400;
    line-height: 31.92px; 

}

.hero-pretitle2{
    margin: 0;
    padding: 0;
    color: rgba(18, 16, 12, 0.70);
    font-size: 23px;   
    font-style: normal;
    font-weight: 400;
    line-height: 31.92px; 
}

.hero__button-text{
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-text{
    margin: 0;
    color: rgba(18, 16, 12, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.hero-btn{
    width: 160px;
    height: 46px;
    border-radius: 16px;
    background: #FFAE33;
    color: #12100C;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.5px;
}

.hero-icon{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap:30px;
}


.hero-image img{
    max-width: 600px;
    height: 600px;
     
}

@media screen and (max-width:1025px) {
    .hero-image img{
        width: 320px;
        height: 320px;
    }
    
}

@media screen and (max-width:1022px) {
    .hero{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:563px) {
    .hero-title{
        font-size: 55px;
    }
    
}

@media screen and (max-width:448px) {
    .hero-pretile{
        font-size: 16px;
    }
    
}

@media screen and (max-width:500px) {
    .hero__button-text{
        flex-direction: column-reverse;
    }
    
}

@media screen and (max-width:330px) {
    .hero-icon{
        text-align: center;
    }
    
}