body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.header{
    padding: 0 20px ;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.header-logo{
    text-decoration: none;
}

.header__nav{
    display: flex;
    gap: 40px;
      
}

.header__nav-link{
    color: rgba(18, 16, 12, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    text-decoration: none;
}

.header-btn{
    width: 80px;
    height: 32px;
    border-radius: 12px;
    background: #12100C;
    color: #F9F9F9;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width:750px) {
    .header__nav{
        display: none;
    }
}

.hero{
    padding: 0 20px;
}

.hero-title{
    color: #12100C;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
}

.hero-pretitle{
    color: rgba(18, 16, 12, 0.70);
    font-size: 23px;   
    font-style: normal;
    font-weight: 400;
    line-height: 31.92px; 

}

.hero__button-text{
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-text{
    color: rgba(18, 16, 12, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.hero-btn{
    width: 160px;
    height: 46px;
    border-radius: 16px;
    background: #FFAE33;
    color: #12100C;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.5px;
}

.hero-icon{
    display: flex;
    align-items: center;
    gap:30px;
}

.hero-image{
    display: flex;
    justify-content: right;
   
}

.hero-image img{
    max-width: 600px;
    height: 600px;
     
}
